<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISegApp"/>
        <binding name="TAOWebServiceSoapBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://desarrollo.ayto-caceres.es/SegApp/SegApp.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISegApp" contract="SegAppService.ISegApp" name="BasicHttpBinding_ISegApp"/>
      <endpoint address="http://aewfmaster01/ConectaWeb/services/TAOWebService" binding="basicHttpBinding" bindingConfiguration="TAOWebServiceSoapBinding" contract="TAOWebService.TAOWebService" name="TAOWebService"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.4460.0.48" newVersion="18.4460.0.48"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.4460.0.48" newVersion="18.4460.0.48"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="directorioPlantillas" value="\\fileserver01\gesdocapp$\GENERADOR DE PLANTILLAS"/>
    <add key="userLoginMyTAO" value="WS_PROD"/>
    <add key="passwordLoginMyTAO" value="WS_PROD,21."/>
    <add key="aplicationNameBuroweb" value="BUROWEB"/>
    <add key="aplicationNameConecta" value="CONECTA"/>
    <add key="businessNameCiudad" value="BdcServices"/>
    <add key="businessNameFirma" value="ConectaFirmaBC"/>
    <add key="businessNameDocumentos" value="ReportServices"/>
    <add key="businessNameExpedientes" value="ExpedienteWSBC"/>
    <add key="Expedientes.ConsultaExpByIdent" value="ConsultaExpByIdent"/>
    <add key="Expedientes.ConsultaEXPByDboid" value="ConsultaEXPByDboid"/>
    <add key="Expedientes.ConsultaDocumentosbyDboid" value="ConsultaDocumentosbyDboid"/>
    <add key="Expedientes.ConsultaUnidRespbyDboid" value="ConsultaUnidRespbyDboid"/>
    <add key="Expedientes.ConsultaAnnotationsInbyDboid" value="ConsultaAnnotationsInbyDboid"/>
  </appSettings>
</configuration>
